.active{
  background-color: blanchedalmond;
}


.body-container {
  text-align: center;
  padding: 20px;
  background-color: #f0f8ff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.body-title {
  font-size: 2.5em;
  color: #333;
}

.body-description {
  font-size: 1.2em;
  color: #555;
  margin: 20px 0;
}

.animation-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 200px; /* Adjust height as needed */
  overflow: hidden;
}

.bouncing-ball {
  width: 50px;
  height: 50px;
  background-color: #007bff;
  border-radius: 50%;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-50px); /* Height of the bounce */
  }
  60% {
    transform: translateY(-25px); /* Secondary bounce */
  }
}

.explore-button {
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.explore-button:hover {
  background-color: #0056b3;
}