@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease forwards;
}

.delay-200 {
  animation-delay: 0.2s;
}

.delay-400 {
  animation-delay: 0.4s;
}

@keyframes slideIn {
  from {
      transform: translateX(-50%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

.animate-slideIn {
  animation: slideIn 0.5s ease forwards;
}

@keyframes buttonEntrance {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.animate-buttonEntrance {
  animation: buttonEntrance 0.5s ease forwards;
  animation-delay: 0.5s; /* Slight delay for button entrance */
}